h{
    text-align: center;
    border: 10px solid grey;
}
.heading{
    display: flex;
    margin-left: 35%;
}
.logtxt{
    font-size: 50px;
    font-family: lucida handwriting;
    color: rgb(83, 130, 35);
}
.logo{
    margin-top: 15px;
    margin-left: 30px;
    width: 100px;
    height: 100px;
}
.bodyimg{
    width: 550px;
    height: 350px;
    margin-left: 500px;
    border: 10px solid rgb(118, 179, 98);
}
